/* src/app/login/login.component.scss */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e8e5e524;

  mat-card {
    padding: 20px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* Optional: to make card background semi-transparent */

    mat-card-title {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }

    mat-form-field {
      width: 100%;
      margin-bottom: 16px;
    }

    button {
      width: 100%;
      margin-top: 16px;
    }
  }
}

mat-error {
  color: red !important;
}
